$mococn-top-sites-width: $card-width;
$mococn-top-sites-height: round($card-width * 0.618);

.top-site-outer {
  .icon.icon-pin-small {
    display: none;
  }

  &.mococn-wide {
    .tile {
      height: $mococn-top-sites-height;
      width: $mococn-top-sites-width;
    }

    .title {
      width: $mococn-top-sites-width;
    }
  }
}

.topsite-form {
  $form-width: 300px;
  $form-spacing: 32px;

  .form-input-container.mococn-wide {
    max-width: $form-width + 3 * $form-spacing + $mococn-top-sites-width;
  }
}
